* {
    padding: 0;
    margin: 0;
}

.headerDiv {
    padding: 25px;
    padding-left: 75px;
}

.headerline {
    border: 1px solid #1A1A1A;
    margin-top: 25px;
    width: 1780px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addButton {
    border: none;
    width: 464px;
    height: 60px;
    background-color: #1A1A1A;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#backgroundlogo {
    position: absolute;
    left: 335px;
    top: -37px;
}

a {
    text-decoration: none;
    color: white;
}