* {
    padding: 0;
    margin: 0;
}


main {
    display: grid;
    grid-template-columns: auto 822px;
}

.leftWrapper {
    background-color: #F9F9F9;    
}

.leftHeader {
    display: flex;
    padding: 60px;
    padding-top: 40px;
    gap: 78px;
}
.personalInfo {
    display: flex;
    gap: 610px;
}
.underLine {
    border: 1px solid #1A1A1A;
    margin-top: 10px;
    width: 792px;
}
.imageBorder{
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    margin-top: -5px;
    cursor: pointer;
}
.leftContent {
    padding-left: 180px;
}
.namePart {
    display: flex;
    gap: 45px;
}
.nameDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lastnameDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input {
    width: 355px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #BCBCBC;
    padding-left: 15px;
}
input:focus {
    border: 1px solid #BCBCBC;
}

.nameValidation {
    font-size: 13px;
    color: #2E2E2E;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}
.uploadPart{
    padding-top: 55px;
    display: flex;
    gap: 10px;
}
.uploadButton {
    width: 87px;
    height: 20px;
    padding-top: 4px;
    padding-left: 19px;
    border: 1px solid #0e80bf;
    background: #0E80BF;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    margin-top: -5px;
}
.aboutMePart {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
#aboutMe {
    margin-top: 8px;
    padding: 15px;
    width: 765px;
    height: 103px;
    border: 1px solid #BCBCBC;
    border-radius: 5px;
}

.mailPart{
    display: flex;
    flex-direction: column;
    padding-top: 33px;
    gap: 8px;
}

.mobilePart {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
    gap: 8px;
}

.bottomButton {
    display: flex;
    justify-content: flex-end;
    padding-top: 147px;
    padding-right: 15px;
}
#nextPage {
    width: 151px;
    height: 48px; 
    border: 1px solid #6B40E3;
    background: #6B40E3;
    border-radius: 4px;
    color: white;
    margin-top: -10px;
}
.doneLogo {
    position: absolute;
    bottom: 30%;
    left: 90%;
    display: none;
}